@font-face {
    font-family: 'Inter';
    /* src: url(./Inter-Regular.woff); */
    font-weight: normal;
}

@font-face {
    font-family: 'Inter';
    /* src: url(./Inter-Bold.woff); */
    font-weight: bold;
}

.page {
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    /* width: 1280px;
    height: 7074px; */
    min-width: 100%;
    min-height: 100%;
    background-color: #2A2C2F;
    color: #FFFFFF;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
  }