@import url('./__item/photo-grid__item.css');
@import url('./__photo/photo-grid__photo.css');
@import url('./__table/photo-grid__table.css');

.photo__grid {
    padding: 0;
    width: 100%;
    margin: 0 auto;
}