.places__state {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-column-gap: 40px;
    margin: 80px 148px 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

@media screen and (max-width: 768px) {
    .places__state-info {
        grid-column-gap: 32px;
        margin-right: 48px;
        margin-left: 48px;
    }
}

@media screen and (max-width: 768px) {
    .places__state-info {
        grid-column-gap: 28px;
        margin: 72px 24px 0;
    }
}


@media screen and (max-width: 320px) {
    .places__state-info {
        display: inline-block;
        margin: 0;
    }
}