@import url('./_active/header__language-link_active.css/');

.header__language-link {
    width: 27px;
    font-size: 24px;
    line-height: 1.17;
    list-style: none;
    float:left;
    list-style-type: none;
    text-decoration: none;
    margin-left: 18px;
}

/* .header__language-link:nth-nth-of-type(2) {
    margin-left: 18px;
} */
