.cover__image {
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}

/* @media screen and (max-width: 768px) {
    .cover__image {
        margin: 88px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__image {
        margin: 64px 0;
    }
} */