.places__states {
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}
    
@media screen and (max-width: 768px) {
    .places__states {
        margin-top: 72px;
    }
}
