@import url('./__copyright-author/footer__copyright-author.css');
@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');

.footer {
    display: flex;
    justify-content: space-between;
    margin: 0 48px 24px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin-right: 24px;
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .footer {        
        display: unset;
    }
}